@import "_variables";
.aboutCourse{
  text-align: center;
  margin:5.2083% 2.6%;
}

.aboutCourseDivider1{
  width:7.2916%;
  height:1px;
  margin: 2.6041% auto;
  display: block;
}
.aboutCourseMainText{
  margin: 0 auto;
  width: 66%;
  font-size: fs(37);
  border-bottom: 1px solid #ededed;
  padding-bottom:4.9%;
}
.aboutCourseDividerRes{
  display:none;
}
.aboutRow{
  margin: 5.208% auto 0 auto;
  width: 66%;
  text-align: left;
  padding-bottom: 4.9%;
}

.aboutRow:nth-child(4){
  border-bottom:1px solid #ededed;
}
.aboutCourse1:nth-child(2){
  margin-left:5.3375em;
}
.aboutCourse1{
  width: 44.25%;
  text-align: left;
  display: inline-block;
  vertical-align: top;
}
.aboutCourse1>h1{
  font-size: fs(35);
}
.aboutCourse1>p{
  margin-top:3%;
  font-size:fs(20);
}
.aboutCourse1>ul{
  list-style-image: url(../img/ulMarker.png);
  font-size:fs(20);
  margin-top: 3%;
}
.aboutCourse1>ul>li{
  font-size:fs(20);
  text-align: left;
  padding-left:7.35%;
}

.durability{
  text-align: center;
  margin: 0 auto;
}
.durability>h1{
  color:#c98c66;
  font-size: fs(35);
}
.durability>p{
  font-size:fs(20);
  margin-top: 3.182%;
}
.durability>button{
  background:#005f86;
  width: 30%;
  letter-spacing: rem(2px);
  font-size: fs(17);
  padding: 2.54% 4%;
  margin-top: 3.2%;
  box-shadow:0 rem(22px) rem(68px) rgba(33, 86, 35, 0.54);
}