@import "_variables";
.contacts{
  padding-top: 5.23%;
}
.horizontalDivider{
  width:7.8125%;
  display: block;
  margin:2.604% auto;
  height: 2px;
}
.contactsHolder{
  margin: 0 auto 6.04% auto;
  width: 77.08333%;

}
.contactsDiv{
  width:26%;
  text-align: center;
  vertical-align: top;
  border-right: 1px solid #e7e8ea;

  padding-right: 6.1351%;
  height:191px;
}

.contactsDiv:last-child{
  border:none;
}
.contactsDiv>h1{
  font-size:fs(35);

}
.infoText{
  text-align:center;
  font-size:fs(24);
}

.apply{
  width: 100%;
  height: 308px;
  background: url("../img/applyBG.png");
  padding-top: 200px;
}
.apply>button{
  margin: 0 auto;
  display: block;
  font-size:fs(23);
  color:black;
  background:white;
  padding:1.302% 2.604%;
  letter-spacing:3px;

  box-shadow: 0 rem(29px) rem(24px) rgba(0, 0, 0, 0.75);
}
.apply>p{
  font-size:fs(16);
 text-align: center;
  margin:2.604% auto;
  width: 20.83%;
  color:white;
  opacity:0.5;
}