@import "_variables";
.courseIs{
  margin: 7.29% 2.6% 0 2.6%;

}
.courseIs>h1{

  text-align: center;
}
.courseIsDivider1{
  width:14.29%;
  height:2px;
  margin:0 auto;
  display: block;
  margin-bottom: 4%;
  margin-top: 4%;
}
.courseIsDiv:nth-child(6){
   width:50%;
   height:15.625rem;
  float:right;
 }
.courseIsDiv:nth-child(5){
  width:25%;
  height:15.625rem;
  float:right;
  background: url('../img/DBG2.png')no-repeat;
}
.courseIsDiv:nth-child(4){
  width:25%;
  height:15.625rem;
  float:right;
  background: url('../img/DBG3.png')no-repeat;
}
.courseIsDiv:nth-child(3){
   width:50%;
   height:31.25rem;
   float:left;
   background: url('../img/DBG1.png')no-repeat;
 }
.courseIsDiv:nth-child(7){
  width:50%;
  height:15.625rem;
  float:left;
  background: url('../img/DBG5.png')no-repeat;
}
.courseIsDiv:nth-child(10){
  width:25%;
  height:15.625rem;
  float:left;

}
.courseIsDiv:nth-child(9){
  width:25%;
  height:15.625rem;
  float:left;
  background: url('../img/DBG1.png')no-repeat;
}
.courseIsDiv:nth-child(8){
  width:50%;
  height:31.25rem;
  float:right;
  background: url('../img/DBG8.png')no-repeat;
}

.numbers{
  color:#c98c66;
  font-size:fs(54);

}
.descriptionMarg{
  margin-left: 2%;
  margin-top:2%;
}
.description1{
  font-size: fs(54);
  color:white;
}

.description2{
  font-size:fs(24);
  color:black;
}
.description3{
  font-size: fs(24);
  color:white;
}

.description4{
  color:black;
  font-size:fs(38);
}