@import "_variables";
.courseTeam{
  background: #fbfcfd;
  text-align: center;
  padding: 6.6666% 2.60% 2.90% 2.60%;
}
.courseTeamDivider1{
  margin:0 auto;
}

.courseTeam>p{
  font-size: fs(35);
  opacity: 0.2;
  margin-bottom:2.604%;
}
.expertsRow{
  margin: 2.6% 0 3.2% 0;
  text-align: center;
}
.teamPhoto{
  width:250px;
  height: 250px;
  border-radius: 150px;
  border: 1px solid #ededed;
  box-shadow: 0 rem(29px) rem(46px) rgba(122,135,143,0.66);
}
.photoTeamPerson{
  background-image: url(../img/experts.png);
  background-size: cover;
}
.expertHolder{
  width: 13%;
   margin: 0 2.6% 0 2.6%;
  display: inline-block;
 }
.expertHolder1{
  margin: 0 2.6% 0 2.6%;
}


.name{
  font-size: fs(30);
  margin-top: 10%;
  text-align: center;
}
.posada{
  font-size:fs(24);
  opacity: 0.4;
  margin-top:2%;
  text-align: center;
}
.assistants{
  margin-top:4.5%;
}
.assistantsHolder{
  margin: 0 0 0 4.5%;
}
.courseTeamHeader{
  font-size: fs(35);
  opacity: 0.2;
}