@font-face {
  font-family: Circe;
  src: url("../fonts/Circe-Bold.woff");
  font-weight: 700;
}
@font-face {
  font-family: Circe;
  src:url('../fonts/Circe-ExtraBold.woff');
  font-weight: 800
}
@font-face {
  font-family: Circe;
  src:url('../fonts/Circe-Light.woff');
  font-weight:200;
}