@import "_variables";
.firstScreen{
  width: 100%;
  max-width: 1920px;
  max-height: 940px;
  background: url(../img/mainBG.png);
}
header{
  margin: 0 2.6%;
  width: 94.7%;
  max-width: 1820px;
}
.logoImg{
  float:left;
  margin-top:1.104%;
  width: 16%;
  height: auto;
  display: inline-block;
}

nav{
  float:right;
  margin-top: 1.1001%;
  height: 63.4%;
  width: 81%;
  padding-bottom: 2.14%;
}
nav>ul{
  margin: 1.3589% 0 0 0;
  display:inline-block;
  float:right;
  width:10%;
}
nav>img{
  display: none;
}
nav>ul>li{
  display:inline-block;

  text-align: center;
}
nav>ul>li:nth-child(2){
  width:23%;
}
nav>ul>li>a{
  text-align: center;
  text-decoration: none;
  color:white;
  font-family:Circe;
  font-weight:700;
  font-size:1em;

  padding: 0 0 1% 0;
  border-bottom: 1px solid #666b6f;
}
.subMenu1{
  width: 81.33%;
}
.subMenu1>li{
  margin: 0 0 0 3.06%;
  width:12%;
  float:right;
}

.subMenu2{
  width: 14.33%;
  margin-left: 2%;
}
.subMenu2>li{
  margin: 0 0 0 0;
  width:100%;
}
.navActive{
  background: #c98c66;
}