@import "_variables";
.organisator{
  padding:7.8% 2.6% 5.2% 2.6% ;
  background: #fbfcfd;
}
.organisator>h1{

 text-align: center;
}
.organisator>img{
  display:block;
  margin: 3.84% auto;
}
.orgInfo{
  margin:5.4054% auto 9.3406% auto;
  width: 41.7582%;

}
.orgLogo{
  width: 200px;
  height: 200px;
  -webkit-border-radius:100px;
  -moz-border-radius:100px;
  border-radius:100px;
  box-shadow: 0 rem(29px) rem(46px) rgba(122,135,143,0.66);
}
.orgLogoBG{
  background: url('../img/orgLogo.png')no-repeat;
}
.orgText{
  margin-left: 6.6665%;
  width:65.7894%;
}
.orgInfoH1{
  border-bottom:1px solid #ededed;
  padding-bottom:5.4945%;
  margin-left:4.1208%;
}
.partnersRow{
  margin: 1.6483% auto;
  width: 97.2527%;
  padding-bottom: 1.9230%;
  border-bottom: 1px solid #ededed;
}
.partnersBlock{
  margin-left: 3.29%;
  width: 46%;
}
.partnersLogo{
  width: 200px;
  height: 200px;
  -webkit-border-radius:rem(100px);
  -moz-border-radius:rem(100px);
  border-radius:rem(100px);
  border: 1px solid #ededed;
  box-shadow: 0 rem(29px) rem(46px) rgba(122,135,143,0.66);
}
.parnter1{
   background: url("../img/patner1.png")no-repeat;
 }
.parnter2{
  background: url("../img/partner2.png")no-repeat;
}
.parnter3{
  background: url("../img/partner3.png")no-repeat;
}
.parnter4{
  background: url("../img/partner4.png")no-repeat;
}
.partnersDescription{
  width: 66.49%;
  vertical-align: top;
  margin-left: 5.649%;
  margin-top: 2.82%;
}
.partnersDescription>h1{
  font-size: fs(35);
}
.partnersDescription>p{
  font-size: fs(20);
  margin-top:4%;
}
